[bumpversion]
current_version = 1.1.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file(mcp-img):docker/Dockerfile]
search = legal-peripherals-mcp[mcp]>={current_version}
replace = legal-peripherals-mcp[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = legal-peripherals-mcp[agent]>={current_version}
replace = legal-peripherals-mcp[agent]>={new_version}

[bumpversion:file:legal_peripherals_mcp/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:legal_peripherals_mcp/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:legal_peripherals_mcp/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
